li {
  width: 30em;
  list-style: none;
  border: 1px solid #0097a5; }

p {
  margin: 0;
  padding: 1.5em;
  overflow: hidden;
  height: 4em;
  transition: all 1s ease; }

.open {
  margin: 0;
  padding: 1.5em;
  overflow: hidden;
  height: 4em;
  transition: all 1s ease; }

.hidden {
  overflow: hidden;
  height: 0;
  padding: 0 1.5em 0 1.5em;
  margin: 0;
  transition: all 1s ease; }

h2 {
  color: white;
  background-color: #00C6D8;
  padding: .5em;
  margin-top: 0;
  margin-bottom: 0; }
  h2:hover {
    background-color: #0cebff; }
